#page-wrap {
	width: 800px;
    margin: 0 auto;
    border-style: solid;
    border-width: 5px;
}

.ddmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.ddmenu li {
    float: left;
}

.ddmenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.ddmenu li a:hover {
    background-color: #111;
}

.more-outer-form-div {
	background-color: #EEEEEE;
	padding: 2px;
	width: 175px;
	font-family: Arial;
	font-size: small;
	color:#000000; 
}

.outer-form-div {
	padding: 2px 0px 4px 2px;
}

.inner-form-div {
	clear: both;
	height: 2px;
}

.form-label {
	float: left;
	width: 150px;
}

.form-style {
	float:left;
}

.last-form-div {
	font-size: 10px
}