#page-wrap {
	width: 800px;
    margin: 0 auto;
    border-style: solid;
    border-width: 5px;
}

.ddmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.ddmenu li {
    float: left;
}

.ddmenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.ddmenu li a:hover {
    background-color: #111;
}

.more-outer-form-div {
	background-color: #EEEEEE;
	padding: 2px;
	width: 175px;
	font-family: Arial;
	font-size: small;
	color:#000000; 
}

.outer-form-div {
	padding: 2px 0px 4px 2px;
}

.inner-form-div {
	clear: both;
	height: 2px;
}

.form-label {
	float: left;
	width: 150px;
}

.form-style {
	float:left;
}

.last-form-div {
	font-size: 10px
}

form {
  background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin:auto;
  position:relative;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input {
  display:block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea#feedback {
  width:375px;
  height:150px;
}